@inherits LayoutComponentBase

<div class="page">
    <MatThemeProvider>
        <MatAppBarContainer Id="app-bar-container">
            <MatAppBar Fixed="true" Id="app-bar">
                <MatAppBarRow>
                    <MatAppBarSection>
                         @if (!IsOnHomeScreen)
                         {
                             <MatIconButton Icon="keyboard_arrow_left" OnClick="@NavigationService.NavigateBack"></MatIconButton>
                         }
                        <MatAppBarTitle>Ass</MatAppBarTitle>
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        <AppBarButtonComponent />
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>
            <MatAppBarContent Id="content">
                @Body
            </MatAppBarContent>
        </MatAppBarContainer>

    @* <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main> *@
    </MatThemeProvider>
</div>

<RadzenComponents />

@code {
    [Inject]
    public INavigationService NavigationService { get; set; } = null!;

    public bool IsOnHomeScreen => NavigationService.RelativeUri is "" or "/";
}
