.None {
    --primary: white;
    --primary-colour: black;
    --secondary: white;
    --secondary-colour: black;
    --tertiary: black;
    --tertiary-colour: white;
    --darkest: white;
    --darkest-colour: black;
}

.Red {
    --primary: #F44336;
    --primary-colour: #EEEEEE;
    --secondary: #D32F2F;
    --secondary-colour: #EEEEEE;
    --tertiary: #EF9A9A;
    --tertiary-colour: black;
    --darkest: #B71C1C;
    --darkest-colour: white;
}

.Pink {
    --primary: #E91E63;
    --primary-colour: #EEEEEE;
    --secondary: #C2185B;
    --secondary-colour: #EEEEEE;
    --tertiary: #F48FB1;
    --tertiary-colour: black;
    --darkest: #880E4F;
    --darkest-colour: white;
}

.Purple {
    --primary: #9C27B0;
    --primary-colour: #EEEEEE;
    --secondary: #7B1FA2;
    --secondary-colour: #EEEEEE;
    --tertiary: #CE93D8;
    --tertiary-colour: black;
    --darkest: #4A148C;
    --darkest-colour: white;
}

.DeepPurple {
    --primary: #673AB7;
    --primary-colour: #EEEEEE;
    --secondary: #512DA8;
    --secondary-colour: #EEEEEE;
    --tertiary: #B39DDB;
    --tertiary-colour: black;
    --darkest: #311B92;
    --darkest-colour: white;
}

.Indigo {
    --primary: #3F51B5;
    --primary-colour: #EEEEEE;
    --secondary: #303F9F;
    --secondary-colour: #EEEEEE;
    --tertiary: #9FA8DA;
    --tertiary-colour: black;
    --darkest: #1A237E;
    --darkest-colour: white;
}

.Blue {
    --primary: #2196F3;
    --primary-colour: #EEEEEE;
    --secondary: #1976D2;
    --secondary-colour: #EEEEEE;
    --tertiary: #90CAF9;
    --tertiary-colour: black;
    --darkest: #0D47A1;
    --darkest-colour: white;
}

.LightBlue {
    --primary: #03A9F4;
    --primary-colour: #EEEEEE;
    --secondary: #0288D1;
    --secondary-colour: #EEEEEE;
    --tertiary: #81D4FA;
    --tertiary-colour: black;
    --darkest: #01579B;
    --darkest-colour: white;
}

.Cyan {
    --primary: #00BCD4;
    --primary-colour: #EEEEEE;
    --secondary: #0097A7;
    --secondary-colour: #EEEEEE;
    --tertiary: #80DEEA;
    --tertiary-colour: black;
    --darkest: #006064;
    --darkest-colour: white;
}

.Teal {
    --primary: #009688;
    --primary-colour: #EEEEEE;
    --secondary: #00796B;
    --secondary-colour: #EEEEEE;
    --tertiary: #80CBC4;
    --tertiary-colour: black;
    --darkest: #004D40;
    --darkest-colour: white;
}

.Green {
    --primary: #4CAF50;
    --primary-colour: #EEEEEE;
    --secondary: #388E3C;
    --secondary-colour: #EEEEEE;
    --tertiary: #A5D6A7;
    --tertiary-colour: black;
    --darkest: #1B5E20;
    --darkest-colour: white;
}

.LightGreen {
    --primary: #8BC34A;
    --primary-colour: #EEEEEE;
    --secondary: #689F38;
    --secondary-colour: #EEEEEE;
    --tertiary: #C5E1A5;
    --tertiary-colour: black;
    --darkest: #33691E;
    --darkest-colour: white;
}

.Lime {
    --primary: #CDDC39;
    --primary-colour: #EEEEEE;
    --secondary: #AFB42B;
    --secondary-colour: #EEEEEE;
    --tertiary: #E6EE9C;
    --tertiary-colour: black;
    --darkest: #827717;
    --darkest-colour: white;
}

.Yellow {
    --primary: #FFEB3B;
    --primary-colour: #EEEEEE;
    --secondary: #FBC02D;
    --secondary-colour: #EEEEEE;
    --tertiary: #FFF59D;
    --tertiary-colour: black;
    --darkest: #F57F17;
    --darkest-colour: white;
}

.Amber {
    --primary: #FFC107;
    --primary-colour: #EEEEEE;
    --secondary: #FFA000;
    --secondary-colour: #EEEEEE;
    --tertiary: #FFE082;
    --tertiary-colour: black;
    --darkest: #FF6F00;
    --darkest-colour: white;
}

.Orange {
    --primary: #FF9800;
    --primary-colour: #EEEEEE;
    --secondary: #F57C00;
    --secondary-colour: #EEEEEE;
    --tertiary: #F57C00;
    --tertiary-colour: black;
    --darkest: #E65100;
    --darkest-colour: white;
}

.DeepOrange {
    --primary: #FF5722;
    --primary-colour: #EEEEEE;
    --secondary: #E64A19;
    --secondary-colour: #EEEEEE;
    --tertiary: #FFAB91;
    --tertiary-colour: black;
    --darkest: #BF360C;
    --darkest-colour: white;
}

.Brown {
    --primary: #795548;
    --primary-colour: #EEEEEE;
    --secondary: #5D4037;
    --secondary-colour: #EEEEEE;
    --tertiary: #BCAAA4;
    --tertiary-colour: black;
    --darkest: #3E2723;
    --darkest-colour: white;
}