@page "/add"
@page "/edit"

@if(Exam is null)
{
    <div>Loading...</div>
} 
else
{
 <div id="root">
    <EditForm Model="Exam" OnValidSubmit="HandleOnValidSubmit">
        <DataAnnotationsValidator />
        <div id="body-container" class="@Exam.Colour">
            <div id="title-container" class="centred-contianer">
                <MatStringField Label="Title" @bind-Value="Exam.Subject" />
                <ValidationMessage For="@(() => Exam.Subject)" />
            </div>
            <div id="subtitle-container" class="centred-contianer">
                <MatStringField Label="Subheading" @bind-Value="Exam.Subheading" />
            </div>
            <div class="button-colour centred-contianer">
                <MatButton type="button" Class="@Exam.Colour.ToString()" OnClick="OpenColourDialog" Unelevated="true">Change Colour</MatButton>
            </div>
        </div>
            <div id="startDateTime-container" @onclick="OpenCalendarDialog">
            @Exam.StartDateTime
        </div>
    </EditForm>
</div>

<CalendarComponent @ref="_calendarDialog" @bind-Value="Exam.StartDateTime" />
<ColoursComponent @ref="_colourDialog" @bind-Value="Exam.Colour" />
}