@page "/add"
@page "/edit"

@if(Exam is null)
{
    <div>Loading...</div>
} 
else
{
 <div id="root">
    <EditForm Model="Exam" OnValidSubmit="HandleOnValidSubmit">
        <DataAnnotationsValidator />
        <div id="body-container" class="@Exam.Colour" @onclick="OpenColourDialog">
            <div id="title-container">
                <MatStringField Label="Title" @bind-Value="Exam.Subject" />
                <ValidationMessage For="@(() => Exam.Subject)" />
            </div>
            <div id="subtitle-container">
                <MatStringField Label="Subheading" @bind-Value="Exam.Subheading" />
            </div>
        </div>
        <div id="startDateTime-container">
            @Exam.StartDateTime
        </div>
    </EditForm>
</div>
}

<ColoursComponent @ref="_colourDialog" @bind-Value="Exam.Colour" />